@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="text-align:center">
    <h1>Integrantes</h1>
    <h2>Jose Daniel Oconitrillo</h2>
    <h2>Kevin Seas Espinoza</h2>
    <h2>Leandro Campos Aguilar</h2>
    <h2>Danny Quiros</h2>
    <h2>Jose Alberto Mata</h2>
</div>